.header-logo{
width: 40px;
height: 40px;
}
.profile-picture{
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 20px;
}
.settings-logo{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.logout-logo{
    width: 40px;
    height: 40px;
}
.header{
display: flex;
align-items: center;
width: 100%;
}
.logoandname{
display: flex;
flex: 0.25;

gap: 10%;
align-items: center;
padding-left: 20px;
}
.logoandname>h1{
  color: #26BFDB;
  font-family: Calisto MT;
 
}
.mid-header{
display: flex;
flex: 0.80;
align-items: center;
justify-content: space-between;
padding-left: 20px;
padding-right: 20px;
}
.signoutandsetting{
display: flex;
align-items: center;

}
.welcomemessage{
display: flex;
align-items: center;

}

.welcomemessage>h1{
    color: #26BFDB;
    font-family: Calisto MT;
}