.sidebar{
display: flex;
flex-direction: column;
flex: 0.20;
}

.sidebar-content{
display: flex;
width: 80%;
margin-left: auto;
margin-right: auto;
align-items: center;
margin-top: 20px;
margin-bottom: 20px;
background-color: #F5F5F5;
border-radius: 10px;
color: #4F4747;
}
.sidebar-icon{
width: 40px;
height: 40px;
}
.sidebar-link>p{
    font-family: Calibri;
    font-size: 20px;
}
.sidebar-link:focus{
    background-color: #26BFDB;
    cursor: pointer;
    color: #ffffff;


}
.sidebar-content:hover{
    background-color: #26BFDB;
    cursor: pointer;
    color: #ffffff;

}
.sidebar-link{
    text-decoration: none;
    color: #4F4747;
    align-items: center;
    display: flex;
    border-radius: 10px;
    padding-left:  20px;
    padding-right: 20px;
    width: 100%;
    gap: 5%;
}