.dashboard-content{
display: flex;
height: 100vh;


}
.dashboard{
display: flex;
flex-direction: column;

height: 100vh;
}
.dashboard-header{
display: flex;
flex: 0.10;
justify-content: space-between;
width: 100%;
}


.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0.80;
    padding-left: 40px;
    margin-top: 20px;
    
    font-family: Calisto MT;
    font-size: medium;
  }
  .dashboard-content-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-right: 20px;
  }
  .dashboard-item {
    width: 200px;
    height: fit-content;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    border-radius: 10px;
    padding-left :10px;
    padding-right: 10px;
    padding-bottom: 20px;

  }
  .dashboard-item > *{
    margin: 0;
    padding:0 10px;
    font-family: Calibri;
  }

  .cardcard{
    display: flex;
    justify-content: right;
    position: relative;
    text-align: right;
    padding: 0 10px;
  }
  .item-ico{
    border-radius: 10px;
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 1;
    margin-top: -25px;
  }
  .dashboard-hr{
    color: #4F4747;
    margin: 10px 0;
    text-align: center;
  }

  .spanspan
  {
    display: flex;
    flex-direction: column;
    justify-content: right;
    position: relative;
    text-align: right;
    gap: 10px;
  }
  .spanspan>*{
   margin: 0;

    font-family: Calibri;
  }
  .dashboard-number{
   text-align: right;
    font-size: 25px;
    margin: 0;
    color: #5d556f;
  }
.dashboard-title{
  color: #4F4747;
  text-align: right;
  font-size: 15px;
}
.dashboard-description{
  color: #4F4747;
  text-align: left;
  font-size: 15px;
}
.spanspan2{
  display: flex;
  gap: 10px;
}

.spanspan2>*{
  margin-top: 10px;
  margin-bottom: 10px;
 margin-left: 0;
  margin-right:0;
  font-family: Calibri;

}
.dashboard-percent{
  color:green;
}
  .chart-container {
    margin-top: 50px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .recharts-cartesian-axis-tick-value {
    font-size: 1.2em;
  }
  
  .recharts-cartesian-axis-tick-line {
    display: none;
  }
  
  .recharts-cartesian-axis > .recharts-cartesian-axis-line {
    display: none;
  }
  
  .recharts-cartesian-grid-line-vertical {
    stroke: #ccc;
    stroke-dasharray: 5 5;
  }
  
  .recharts-bar-legend-item {
    cursor: pointer;
  }
  
  .recharts-default-tooltip {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .recharts-tooltip-label {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .recharts-tooltip-item {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .recharts-reference-line-label {
    font-size: 1.2em;
    font-weight: bold;
  }
