.products-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.75;
    padding: 20px;
    margin-top: 20px;
    font-family: Calibri;
    height: fit-content;
    border-radius: 10px;
    background-color: #F5F5F5;
    margin-left: 20px;
    margin-right: 20px;
}
.actions-img{
   height: 15px;
   
}
.product-link{
    text-decoration: none;
    color: black;
    background-color:#d6eee5;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .product-link>*{
    margin: 0;
  }
  .product-link:focus{
    background-color: #26BFDB;
    cursor: pointer;
    color: #ffffff;
  }
.products-header{
    display: flex;  }

  .products-div{
  font-size: 15px;
  margin-right: 20px;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  }
 
.product-lisitng-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.search-bar-prod{
    border-radius: 10px;
    height: 30px;;
}
.search-bar-div{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
  
}

  table {
    border-collapse: collapse;
    margin: auto;
    font-size: 15px;
    color: #4F4747;
    font-family: Calibri;

    width: 100%;
    
  }
  
  /* Style the table headers */
  th {
    background-color: #d9d9d9;
    font-weight: bold;
    text-align: left;
    padding: 8px;
  }
  
  /* Style the table rows */
  tr:nth-child(even) {
    background-color: #d6eee5;
  }
  
  tr:nth-child(odd) {
   background-color:#ffffff;
  }
  
  /* Style the table cells */
  td {
    padding: 8px;
  }
  .actions-row{
    text-align: center;
  }
  
  /* Remove vertical border separators for rows */
  td:not(:last-child) {
    border-right: none;
  }
  